.xxxxxxxxl{font-size:24px}
.xxxxxxxl{font-size:22px}
.xxxxxxl{font-size:20px}
.xxxxxl{font-size:18px}
.xxxxl{font-size:16px}
.xxxl{font-size:15px}
.xxl{font-size:14px}
.xl{font-size:13px}
.l{font-size:12px}
.m{font-size:11px}
.s{font-size:10px}
.xs{font-size:9px}
.xxs{font-size:8px}

.fleft{float:left;}
.fright{float:right; }
.clear {clear:both; }

.text-center {text-align: center;}

.mgll{margin-left:7px}
.mglm{margin-left:5px}
.mgrl{margin-right:7px}
.mgrm{margin-right:5px}

.para_start{height:30px; background-color:#f0f9fd; }
.para_start p {margin-left:10px; padding:5px 0px 3px 20px; color:#0f6bb2; border-left:4px solid #0f6bb2;}

.para_end {height:25px; background-color:#f5f5f5; }
.para_end p {padding:5px 30px 3px 30px; color:#505050;  float: right;}

.side_block_start{height:25px; background-color:#F2F2F2; }
.side_block_start p {padding:4px 0px 3px 15px; color:#505050; }
	
.para_block_m {height:500px; margin-top:15px; margin-bottom:05px; border:1px solid #dfdfdf;}
.para_block_m_content{height: 445px }

.para_block_l {height:800px; margin-top:15px; margin-bottom:05px; border:1px solid #dfdfdf;}
.para_block_l_content{height: 745px }

.para_block_xl {height:1500px; margin-top:15px; margin-bottom:05px; border:1px solid #dfdfdf;}
.para_block_xl_content{height: 1445px }

.para_block_free { margin-top:15px; margin-bottom:05px; border:1px solid #dfdfdf;}


.side_block_l {height:500px;  margin-top:15px; border:1px solid #dfdfdf; }
.side_block_m {height:350px;  margin-top:15px; border:1px solid #dfdfdf; }
.side_block_s {height:260px;  margin-top:15px; border:1px solid #dfdfdf; }
.side_block_free {margin-top:15px; border:1px solid #dfdfdf;padding-bottom:15px;}

.para_btns {width: 400px;  margin-left: auto; margin-right: auto;}
	
.para_bt_left {float:left; border-radius: 6px 6px 6px 6px;
    height: 22px;  letter-spacing: 2px; margin-left: 38px ; text-decoration: none;  background-color: #89B3D8; padding: 7px 25px 1px 25px; color: #FFF;}
.para_bt_right {float:right;  border-radius: 6px 6px 6px 6px; 
    height: 22px;  letter-spacing: 2px; margin-right: 38px ;text-decoration: none;   background-color: #d9d9d9; padding: 7px 25px 1px 25px; color: #7c7c7c;}

.app_navs {margin-top:10px; border-bottom: 4px solid #3f89c3}
.app_nav a{float: left; margin-right: 14px; font-weight:bold; letter-spacing: 2px; text-decoration: none; color: #0f6bb2; padding: 6px 13px 6px 13px;}
.app_nav a:hover {background-color: #a6cded; font-weight:bold; }

.app_nav_index #app_nav_index, .app_nav_article #app_nav_article, .app_nav_relation #app_nav_relation, .app_nav_elect #app_nav_elect, .app_nav_member #app_nav_member, .app_nav_domain #app_nav_domain
{background-color: #3f89c3; color: #FFF;}

#user_card {height:70px;  margin-top:10px; background-color:#FFF; border-radius: 12px 12px 12px 12px;border:1px solid #dfdfdf;}
.follow_block_btns{border:1px solid #CCC; border-radius: 3px 3px 3px 3px; padding:3px 5px 3px 5px; }
.follow_block_btns a{text-decoration: none; color:#1b676b;}
.user_block{height:75px; border-bottom: 1px dotted #000;color:#444; margin-left:15px; margin-right:15px;}

#banner {height:120px;}
	#col-top {height:5px; margin-top:10px; background:url("../image/col-top.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
	#col-bottom {height:5px; margin-bottom:5px; background:url("../image/col-bottom.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}
	#col {position:relative; height:80px; padding:05px 30px 15px 20px; background:url("../image/col.gif") 0 0 repeat-y;}
	.banner_icon{padding-top: 7px; padding-left: 10px; width:80px; float: left;}
	.banner_text{padding-top: 5px; padding-left: 20px; width:180px; float: left; color:#505050; }
	.banner_text_title{color:#1b676b; font-weight:bold; }
	
.sidebar_nav {margin-left:25px;margin-top:15px; }
.sidebar_nav a {color:#117BB2;text-decoration: none;}