.question_list_block { clear:both; margin-top:8px; margin-right:8px; margin-left:8px;
padding-bottom:15px; border-bottom: 1px solid #EEEEEE; }

.question_list_main_part { width: 100%; float:right; }

.question_list_main_head {  margin-top:10px; }

.question_list_answer_block{
	margin-top:6px; 
	padding: 5px;
	border: 1px solid #CADDE7;
	margin-left:22px;
}

.question_list_answer_head {  margin-top:2px; }
.question_list_answer_head_left{float:left;}
.question_list_answer_head_right{float:right; }

.question_list_main_body { margin-top:10px; }

.question_title a {font-weight:bold; color:#0f6bb2; text-decoration: none;}

.op_btns{border:1px solid #CCC; border-radius: 3px 3px 3px 3px; padding:3px 5px 3px 5px; }
.op_btns a{text-decoration: none; color:#1b676b;}
